body{
    background-color: black;
}
*{
    padding:0;
    margin:0;
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(pictures/IMG_0903.PNG);
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: top 45px;
    padding-left: 8%;
    padding-right:8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing:1px;
    cursor: pointer;
}
span{
    color: rgb(24, 189, 73);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}
nav ul li a{
    color: rgb(40, 173, 129);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: white;
    transition: 1s;
}
.btn{
    Background-color: rgb(255, 4, 45);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:10px 25px;
    border-radius: 30px;
    transition: transform .2s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left :10%;
    transform: translateY(-50%);

}


h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    margin: 1px;
    margin-bottom: 50px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
   
}
.newsletter form input, form textarea{
    display: inline-block;
    width: 100%;
    padding: 10px 130px 14px 15px;
    margin: 5px;
    border : 2px solid rgb(24, 189, 73);
    border-radius : 8px;
    background-color: black;
    color: white;
}
.newsletter form button{
    display: inline-block;
    width: 10;
    padding: 10px 13px 14px 15px;
    margin: 5px;
    border : 2px solid rgb(24, 189, 73);
    border-radius : 8px;
    
}



.newsletter form input:last-child :hover{
    color: black;
    background-color:white;
    transition:1s;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

a:hover{
    color: rgb(255, 0, 34);
    transition: 1s;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(31, 30, 30);
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 100px;
}
.about-text{
    width: 550px;
    
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: rgb(40, 173, 129);
    text-align: center;
    padding: 30px;
    font-size: 50px;
    text-transform: capitalize;
}
.about-text h4{
    color: rgb(255, 255, 255);
    text-align: start;
    padding: 30px 30px 30px 0px;
}
.about-text p{
    color: white;
    letter-spacing: 2;
    line-height:25px;
    margin-bottom: 50px;
}
button{
    background-color:rgb(40, 173, 129);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 8px;
    transition: 0.5s;
}
button:hover{
    background-color:transparent;
    border: 2px solid rgb(40, 173, 129);
    cursor: pointer;
}

i{
    color:white; 
    font-size: 50px;
    
}
.competences{
    text-align:center;
    color:white;
    padding: 30px
    
}
.competences h2{
    padding: 15px;

}
.skillset{
    display: inline-block;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 300px;
    padding: 25px 35px;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    margin: 20px 20px 20px 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h5{
    color:white;
    margin: 20px 20px 0px 20px;
    text-align: center;
}

.card p{
    color: rgb(40, 173, 129);
    text-align: center;
    margin: 20px 20px 0px 20px;
}

.card i{
    color: rgb(122, 248, 160);
}

